{% extends "base.html" %}

{% block title %}Doctor Dashboard{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Welcome, {{ current_user.username }}</h2>
    <a href="{{ url_for('auth.unassigned_patients') }}" class="btn btn-secondary">
        View Unassigned Patients
    </a>
</div>

<h4>Your Assigned Patients</h4>
<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Domicile</th>
            <th>Occupation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.name }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.domicile }}</td>
            <td>{{ patient.occupation }}</td>
            <td>
                <a href="{{ url_for('auth.edit_patient', patient_id=patient.id) }}" class="btn btn-sm btn-primary">Edit</a>
                <form method="POST" action="{{ url_for('auth.delete_patient', patient_id=patient.id) }}">
                  {{ delete_form.csrf_token }}
                  <button type="submit">Delete</button>
                </form>
                
              
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
